@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;600;700;800&display=swap');

:root{
    --colorone: #370665;
    --colortwo: #35589A;
    --colorthree: #F14A16;
    --colorfour: #FC9918;
}


*, ::after, ::before{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


section{
    width: 100%;
    min-height: 100vh;
    height: auto;
}


a{
    text-decoration: none;
}
.container{
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-heading{
    position: relative;
    font-size: 3rem;
    color: #570A57;
}

.large{
    width: 60%;
    height: 100%;
}
.small{
    width: 40%;
    height: 100%;
}

.align-left{
    align-items: flex-start !important;
}

.courses-wrapper{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.section-heading-wrapper{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-heading{
    margin: 0 auto;
    font-size: 2.4rem;
    color: var(--colorone);
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #16003b67;
    backdrop-filter: blur(5px);
    z-index: 50;
}
nav{
    width: 100%;
    height: auto;
    padding: 1.5rem 1rem;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a{
    color: #FFF;
}

.nav-left{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.nav-branding{
    width: auto;
    margin: 0 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    border-right: 2px solid #FFF ;
}
.nav-logo{
    margin-right: 1rem;
    fill: #FFF;
    transform: scale(1.2);
}

.nav-categories{
    margin: 0 1rem;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
}
.nav-categories svg{
    margin-right: .65rem;
}

.nav-right{
    width: auto;
    margin: 0 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.nav-right--left{
    padding: 0 1.5rem;
    width: 28vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #fff;
}
.nav-cart{
    margin-left: 2rem;
    outline: none;
    fill: #fff;
}


.nav-right--right{
    padding: 0 0 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login{
    margin: 0 1rem;
    padding: .25rem 1.75rem;
    border: none;
    border-radius: 8px;
    background: aqua;
    color: blue;
}


/* Footer Styling Starts Here */

footer{
    position: relative;
    margin-top: auto;
    padding: 2rem 1rem 0;
    background: var(--colorone);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-row{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-column{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-heading{
    position: relative;
    margin-bottom: .5rem;
    width: 100%;
    padding-right: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid #FFF;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.down-arrow{
    transform: rotateZ(-90deg);
    transition: all .5s ease;
}
.footer-link{
    position: relative;
    margin-top: 0.75rem;
    width: 100%;
    color: azure;
}

.footer-branding{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
}
.footer-desc{
    color: azure;
    max-width: 75%;
}

.social-heading{
    min-width: 100px;
    color: #FFF;
}
.social{
    position: relative;
    width: 100%;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social p{
    text-align: center;
    align-self: center;
}


@media (max-width: 768px) {
    



    .footer-row{
        flex-direction: column;
    }
    .branding-column{
        width: 80% !important;
    }
    .footer-column{
        width: 90%;
        margin-bottom: 2rem;
    }
    .footer-desc{
        max-width: 100%;
    }
}