@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root{
    --colorone: #370665;
    --colortwo: #35589A;
    --colorthree: #F14A16;
    --colorfour: #FC9918;
}


*, ::after, ::before{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


section{
    width: 100%;
    min-height: 100vh;
    height: auto;
}


a{
    text-decoration: none;
}
.container{
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container-heading{
    position: relative;
    font-size: 3rem;
    color: var(--colorone);
}

.large{
    width: 60%;
    height: 100%;
}
.small{
    width: 40%;
    height: 100%;
}

.align-left{
    align-items: flex-start !important;
}

.courses-wrapper{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.section-heading-wrapper{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-heading{
    margin: 0 auto;
    font-size: 2.4rem;
    color: var(--colorone);
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #16003b67;
    backdrop-filter: blur(5px);
    z-index: 50;
}
nav{
    width: 100%;
    height: auto;
    padding: 1.5rem 1rem;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a{
    color: #FFF;
}

.nav-left{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.nav-branding{
    width: auto;
    margin: 0 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    /* border-right: 2px solid #FFF ; */
}
.nav-logo{
    margin-right: 1rem;
    fill: #FFF;
    transform: scale(1.2);
}

.nav-categories{
    margin: 0 1rem;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
}
.nav-categories svg{
    margin-right: .65rem;
}

.nav-right{
    width: auto;
    margin: 0 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.nav-right--left{
    padding: 0 1.5rem;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #fff;
}
.nav-get-job{
    position: relative;
    margin: 0 .5rem;
    padding: 0 1rem;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}


.nav-right--right{
    padding: 0 0 0 1.5rem;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login{
    margin: 0 1rem;
    padding: .25rem 1.75rem;
    border: none;
    border-radius: 8px;
    background: var(--colorthree);
    color: #FFF;
    transition: all .3s ease;
}
.login:hover{
    filter: hue-rotate(60deg);
}


/* Footer Styling Starts Here */

footer{
    position: relative;
    margin-top: auto;
    padding: 2rem 1rem 0;
    background: var(--colorone);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-row{
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-column{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-heading{
    position: relative;
    margin-bottom: .5rem;
    width: 100%;
    padding-right: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid #FFF;
    font-size: .8rem;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
}
.down-arrow{
    transform: rotateZ(-90deg);
    transition: all .5s ease;
}
.footer-link-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: space-between !important;
}
.footer-link-column{
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-link{
    position: relative;
    margin-top: 0.5rem;
    width: 100%;
    font-size: .75rem;
    color: azure;
}

.footer-branding{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
}
.footer-branding .brand-name{
    font-size: 1rem;
}
.footer-desc{
    color: azure;
    font-size: .75rem;
    max-width: 75%;
}

.social-heading{
    min-width: 100px;
    color: #FFF;
}
.social{
    position: relative;
    width: 100%;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-icon{
    margin: 0 .5rem;
}
.social p{
    text-align: center;
    align-self: center;
}


@media (max-width: 768px) {

    .mobile-nav-top{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: center;
        align-items: flex-start;
        justify-content: flex-start;
        background: var(--colorone);
        opacity: 90%;
        z-index: 10;
    }
    .open-mobile-nav{
        padding: 0 .75rem;
        font-size: 2rem;
        color: #FFF;
        z-index: 15;
    }
    .mobile-nav-branding{
        position: absolute;
        top: .75rem;
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }

    aside{
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        background: var(--colorone);
        opacity: 95%;
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
    }
    .mobile-menu{
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu--item{
        font-size: 1.2rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    .close-mobile-nav{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.2rem;
        color: #FFF;
    }


    .section-heading{
        text-align: center;
    }
    
    header{
        display: none;
    }

    .container{
        flex-direction: column;
    }
    .small, .large, .equal-div{
        width: 100% !important;
        height: auto;
    }


    .footer-row{
        flex-direction: column;
    }
    .branding-column{
        width: 80% !important;
    }
    .footer-column{
        width: 90%;
        margin-bottom: 2rem;
    }
    .footer-desc{
        max-width: 100%;
    }
}

@media (min-width: 769px) {
    aside{
        display: none;
    }
    .mobile-nav-top{
        display: none;
    }
}