/* body{
    background: url('../img/shapesbg.svg') center/cover no-repeat;
    background-attachment: fixed;
} */

.hero{
    position: relative;
    width: 100%;
    height: 120vh;
    background: url('../img/heropath.svg');
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 65% 90%, 0% 80%); */
    overflow: hidden;
}

.hero-container{
    position: relative;
    top: 10vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-left, .hero-right{
    width: 35%;
    height: auto;
}

.hero-left{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    color: #FFF;
}
.hero-left h1{
    margin-bottom: 1rem;
    font-size: 2.6rem;
    font-weight: 700;
}
.hero-left p{
    font-size: .75rem;
    color: azure;
}
.play{
    position: relative;
    margin-top: 4rem;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
}
.play-btn{
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 1rem;
    display: grid;
    place-content: center;
    border: 4px solid #FFF;
    border-radius: 50%;
    font-size: 1.5rem;
}
.play h3{
    font-weight: 500;
}





.hero-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.people-img{
    position: relative;
    width: 100%;
    height: auto;
}

.hero-cards-row{
    position: relative;
    width: 48%;
    height: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.hero-card{
    position: relative;
    padding: .5rem;
    margin: 0 1rem;
    width: 120px;
    background: #FFF;
    border: 1.5px solid #224C82;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-card-icon{
    position: relative;
    margin-bottom: 1rem;
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    background: aquamarine;
    border-radius: 50%;
    color: darkslategray;
    font-size: 1.5rem;
}
.hero-card-title{
    position: relative;
    font-size: 1rem;
    color: var(--colortwo);
    text-align: center;
}


.learning-family{
    padding: 0 3rem;
    height: auto;
}
.equal-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.learning-family .equal-div h1{
    align-self: flex-start;
}
.index-animation{
    align-self: flex-end;
}
.index-explore-btn{
    position: relative;
    width: auto;
    margin-top: 2rem;
    padding: .75rem 1rem;
    border: 2px solid var(--colorone);
    color: var(--colorone);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    align-self: flex-start;
    border-radius: 28px;
    transition: all .3s ease;
}
.index-explore-btn:hover{
    background: var(--colorone);
    color: #FFF;
}



.benefit-teacher{
    padding: 0 2rem;
    background: azure url('../img/benefit-teacher.svg') center/cover no-repeat;
}
.benefit-teacher .small{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}
.benefit-teacher .large{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.khushbu-img{
    align-self: flex-start;
    width: 30vw;
    height: auto;
}

.benefit-teacher .equal-div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.benefit-teacher .equal-div h1{
    font-size: 3rem;
    color: var(--colorthree);
    text-align: left;
    text-shadow: 12px 12px 24px var(--colorthree);
}
.benefit-teacher .equal-div p{
    color: darkslategray;
    text-align: left;
}

.khushbu-link{
    color: var(--colorthree);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.12rem;
    font-weight: 600;
}
.khushbu-link--linkedin{
    width: 24px;
    height: 24px;
    fill: var(--colortwo);
    transition: all .3s ease;
}
.khushbu-link:hover .khushbu-link--linkedin{
    transform: translateX(8px);
    fill: var(--colorthree);
}


.benefit-student{
    background: #FFF;
}

.benefit{
    position: relative;
    width: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.benefit-point{
    position: relative;
    top: -.28rem;
    margin-left: 1rem;
    font-size: 1.175rem;
    transition: all .3s ease;
}
.benefit:hover .benefit-point{
    transform: translateX(5px);
}

.index-animation{
    width: 500px;
    height: 500px;
}


@media (max-width: 768px) {

    .hero{
        height: 80vh;
        clip-path: unset;
    }
    .hero .container{
        height: 80vh !important;
    }
    .hero-left, .hero-right{
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .hero-left{
        padding-top: 7rem;
        height: 70vh !important;
    }
    .people-img{
        transform: translateY(3rem);
    }
    .hero-left h3{
        font-size: 1rem;
    }
    .hero-left h1{
        font-size: 2.125rem;
    }

    .learning-family{
        padding: 1rem;
        height: 40vh !important;
        flex-direction: row;
    }
    .learning-family .index-animation{
        width: 160px;
    }
    .container-heading{
        font-size: 1.25rem;
        align-items: unset;
    }
    .index-explore-btn{
        position: relative;
        bottom: 1rem;
        width: 100% !important;
        padding: .5rem 1.5rem;
        font-size: 1rem;
    }

    .benefit-teacher{
        padding: 1rem;
    }
    .khushbu-img{
        width: 80vw;
        height: auto;
        margin-bottom: 2rem;
    }
    .benefit-teacher .equal-div{
        height: auto;
    }
    .benefit-teacher .equal-div h1{
        font-size: 2.2rem;
    }
    .khushbu-link{
        text-align: center;
        align-self: center;
    }


    .index-animation{
        width: 320px;
        height: 320px;
    }
}