:root{
    --colorone: #0C043E;
    --colortwo: #6E7197;
    --colorthree: #224C82;
    --colorfour: #EEAB10;
    --light: #E7EDFA;
    --bordercolor: #3A77C4;
}



.hero{
    position: relative;
    width: 100%;
    height: 140vh;
    background: url('../img/heropath.svg') 0% 0% / cover no-repeat;
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 65% 90%, 0% 80%); */
    overflow: hidden;
}

.hero-container{
    position: relative;
    top: 5vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-left, .hero-right{
    width: 35%;
    height: auto;
}

.hero-left{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    color: #FFF;
}
.hero-left h1{
    margin-bottom: 2vh;
    font-size: 3.5vw;
    font-family: 'Gilroy-Bold';
    letter-spacing: -.01rem;
}
.hero-left p{
    font-family: 'Gilroy-Regular';
    font-size: 1vw;
    font-weight: 300;
    color: var(--light);
}
.play{
    position: relative;
    margin-top: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
}
.play-btn{
    position: relative;
    width: 5.6vw;
    height: auto;
    margin-right: 1vw;
}
.play p{
    font-size: 1.25vw;
    font-family: 'Gilroy-Medium';
    color: var(--light);
}





.hero-right{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.people-img{
    position: relative;
    margin-right: -15vw;
    width: 50vw;
    align-self: flex-end;
    height: auto;
}

.hero-cards-row{
    position: relative;
    margin-top: -5vh;
    width: 48vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.hero-card{
    position: relative;
    padding: 1vh .5vw;
    margin: 0 1vw;
    width: 8vw;
    height: 20vh;
    background: #FFF;
    border: 1.5px solid var(--bordercolor);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-card-icon{
    position: relative;
    margin-bottom: 2vh;
    width: 3.25vw;
    height: auto;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: darkslategray;
    font-size: 1.5rem;
}
.hero-card-title{
    position: relative;
    font-size: 1.25vw;
    font-family: 'Gilroy-Bold';
    text-align: center;
}



.courses-section{
    position: relative;
    margin: -10vh auto 2rem;
}
.courses-wrapper{
    position: relative;
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
}
.course-card-container{
    position: relative;
    margin: 0 2.5vh;
    width: 16vw;
    height: 42.5vh;
    background: #FFF;
    border-radius: 24px;
    transition: all .3s ease;
}
.course-card--top-border{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 50%;
    background: linear-gradient(200deg, #3A77C4, rgba(255, 255, 255, 0.5));
    border-radius: 24px 24px 0 0;
    transform: translate(-2px, -2px);
}
.course-card--bottom-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 50%;
    background: linear-gradient(-160deg, #3A77C4, rgba(255, 255, 255, 0.5));
    border-radius: 0 0 24px 24px;
    transform: translate(2px, 2px);
}
.course-card{
    position: relative;
    width: inherit;
    height: inherit;
    padding: .25vh .125vw;
    background: #FFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 5;
}
.course-card-thumbnail{
    position: relative;
    width: 100%;
    height: 22vh;
    margin-bottom: .5vw;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    transition: all .3s ease;
}
.course-card-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: .5vh .25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.course-card-content--row{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.course-card-flag{
    position: relative;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: .6vw;
    font-family: 'Gilroy-Bold', sans-serif;
    background: var(--bordercolor);
    color: #FFF;
}
.rating-flag{
    border-radius: 16px;
    background: var(--bordercolor);
}

.course-card-numrating{
    color: #FFF;
}
.course-card-starrating{
    margin-right: 5px;
    color: yellow;
}

.course-card-title{
    position: relative;
    margin: .75vh 0;
    max-width: 100%;
    font-size: 1vw;
    text-transform: capitalize;
    color: var(--colorone);
}
.course-card .align-bottom{
    position: absolute;
    width: 14vw;
    bottom: .5rem;
}
.course-card-feature{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: .8vw;
    color: var(--bordercolor);
}
.course-card-feature i{
    position: relative;
    margin-right: 5px;
}
.course-card-container:hover .course-card-thumbnail{
    transform: scale(1.05);
}

.index-explore-btn{
    position: relative;
    padding: 3vh 1.75vw;
    border-radius: 16px;
    background: var(--colorthree);
    color: #FFF;
    font-family: 'Gilroy-Regular';
    font-size: 1vw;
    text-transform: capitalize;
    transition: all .3s ease;
}
.index-explore-btn:hover{
    background: #b3bccf;
}


.benefits{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.benefits-img{
    position: relative;
    left: -5vw;
}
.benefits .horizontal-wrapper{
    position: relative;
    width: 100%;
}
.flex-start{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.benefits-container-title{
    position: relative;
    margin-bottom: 4vh;
    font-size: 2.6vw;
    font-family: 'Gilroy-Heavy';
    text-align: left;
    color: var(--colorone);
}
.benefits-row{
    position: relative;
    margin-bottom: 2.5vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.benefits-icon{
    position: relative;
    width: 2.75vw;
    height: auto;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: #FFF;
    font-size: 1.25rem;
}
.gd-green{
    background: linear-gradient(120deg, rgb(0, 135, 80), rgb(0,125,80));
}
.rd-green{
    background: linear-gradient(120deg, rgb(215, 45, 5), rgb(200, 0, 0));
}
.benefits-content{
    position: relative;
    width: auto;
    margin-left: 1rem;
}
.benefits-title{
    position: relative;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1.5vw;
    color: var(--colorone);
}
.benefits-desc{
    position: relative;
    margin: .5vh 0 1vh;
    font-size: 1vw;
    color: var(--colortwo);
    font-family: 'Gilroy-Medium';
}


.linkedin-btn{
    position: relative;
    margin-top: 2vh;
    padding: 1rem 1.25rem;
    border: 2px solid var(--colortwo);
    border-radius: 8px;
    background: #FFF;
    color: var(--colorone);
    font-family: 'Gilroy-Regular';
    font-weight: 700;
    font-size: 1vw;
    text-transform: capitalize;
    transition: all .3s ease;
}
.linkedin-btn:hover{
    border-color: var(--colorfour);
    color: var(--colorfour);
}
.khushbumali{
    position: relative;
    width: 30vw;
    height: auto;
}

.softwares{
    margin-bottom: 10vh;
}
.softwares-container{
    position: relative;
    width: 80%;
    height: auto;
    padding: 10vh 10vw;
    border-radius: 72px;
    background-color: var(--light);
}
.software-card{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    width: 18vw;
    background: #FFF;
    border-radius: 24px;
}
.software-card-img{
    position: relative;
    width: 80%;
    height: auto;
    margin-bottom: 5vh;
}
.software-card-title{
    position: relative;
    margin: 2.5vh auto;
    font-size: 1.75vw;
    font-weight: 800;
    color: var(--colorone);
}
.software-card-btn{
    position: relative;
    margin-bottom: 4vh;
    padding: .75rem 1.25rem;
    background: var(--colorthree);
    border-radius: 8px;
    color: #FFF;
    font-size: 1vw;
    font-family: 'Gilroy-Medium';
    transition: all .3s ease;
}
.software-card-btn:hover{
    background: #b3bccf;
}




.newsletter-container{
    position: absolute;
    width: 50vw;
    height: 34vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #3A77C4, rgb(170, 221, 255));
    border-radius: 64px;
}
.newsletter-wrapper{
    position: relative;
    width: 49.45vw;
    height: 32.75vh;
    padding: 1vh 2vw;
    border-radius: inherit;
    background-color: #FFF;
}
.newsletter-wrapper .section-title{
    margin: .25vh auto;
}
.newsletter-wrapper .section-subtitle{
    margin-top: 0;
}
.newsletter-form{
    position: relative;
    margin: 1vh auto 0;
    padding: .5vh .25vw;
    width: 80%;
    border-radius: 12px;
    border: 1px solid var(--bordercolor);
    background: var(--light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.newsletter-form input{
    position: relative;
    width: 75%;
    font-family: 'Gilroy-Regular';
    font-size: 1.25vw;
    color: darkslategray;
    background: none;
    border: none;
    outline: none;
}
.newsletter-form-submit{
    position: relative;
    width: 8vw;
    padding: 1rem;
    font-family: 'Gilroy-Medium';
    border: none;
    background: var(--colorthree);
    color: #FFF;
    font-size: 1.25vw;
    border-radius: 12px;
    align-self: flex-end;
    cursor: pointer;
    transition: all .3s ease;
}
.newsletter-form-submit:hover{
    background: #b3bccf;
}





@media (max-width: 768px) {

    .hero{
        height: 80vh;
        clip-path: unset;
    }
    .hero .container{
        height: 80vh !important;
    }
    .hero-left, .hero-right{
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .hero-left{
        padding-top: 7rem;
        height: 70vh !important;
    }
    .people-img{
        transform: translateY(3rem);
    }
    .hero-left h3{
        font-size: 1rem;
    }
    .hero-left h1{
        font-size: 2.125rem;
    }
    
}
