/* body{
    background: url('../img/shapesbg.svg') center/cover no-repeat;
    background-attachment: fixed;
} */

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, #160040, #570A57);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 65% 90%, 0% 80%);
    overflow: hidden;
}

.hero-container{
    background: url('../img/herobg.svg') center/cover no-repeat;
}

.hero-left, .hero-right{
    width: 50%;
    height: 100%;
}

.hero-left{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #FFF;
}
.hero-left h3{
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: 1.12rem;
    font-weight: 600;
}
.hero-left h1{
    font-size: 3.6rem;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
    width: 100%;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 7.5s linear infinite 0s;
	-ms-animation: topToBottom 7.5s linear infinite 0s;
	-webkit-animation: topToBottom 7.5s linear infinite 0s;
	color: #00abe9;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.slidingVertical span:nth-child(2){
	animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 3s;
	-ms-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 4.5s;
	-ms-animation-delay: 4.5s;
	-webkit-animation-delay: 4.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 6s;
	-ms-animation-delay: 6s;
	-webkit-animation-delay: 6s;
}


/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


.hero-left p{
    color: aqua;
}

.hero-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.people-img{
    width: 140%;
    height: auto;
    transform: translateY(8rem);
}


.learning-family{
    padding: 0 2rem;
    height: 60vh !important;
}
.equal-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.learning-family .equal-div h1{
    align-self: flex-start;
}
.index-explore-btn{
    position: relative;
    width: auto;
    padding: .75rem 1rem;
    border: 2px solid var(--colorone);
    color: var(--colorone);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    align-self: flex-start;
    border-radius: 28px;
    transition: all .3s ease;
}
.index-explore-btn:hover{
    background: var(--colorone);
    color: #FFF;
}



.index-courses{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 2rem;
    background: url('../img/shapesbg.svg') center/cover no-repeat;
    background-attachment: fixed;
}

.course-card{
    width: 240px;
    height: 360px;
    margin: 0 2rem;
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    transition: all .3s ease;
}
.course-card:hover{
    transform: translateY(-8px);
}
.course-card--img{
    width: 240px;
    height: 160px;
    object-fit: cover;
    object-position: center;
    border-radius: 16px 16px 0 0;
}
.course-card--content{
    padding: 0 1rem;
}
.course-card--content-desc{
    font-size: .9rem;
}
.card-btn-div{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}
.course-card--content-btn{
    width: 100%;
    padding: .5rem 3rem;
    border-radius: 28px;
    background: linear-gradient(150deg, #9BA3EB, #646FD4);
    color: #FFF;
    transition: all .3s ease;
}
.course-card--content-btn:hover{
    filter: hue-rotate(120deg);
}



.benefit-teacher{
    padding: 0 2rem;
    background: #fff url('../img/benefit-teacher.svg') center/cover no-repeat;
}
.benefit-teacher .small{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}
.benefit-teacher .large{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.khushbu-img{
    width: 30vw;
    height: auto;
}

.benefit-teacher .equal-div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.benefit-teacher .equal-div h1{
    font-size: 3rem;
    color: var(--colorthree);
    text-align: left;
    text-shadow: 12px 12px 24px var(--colorthree);
}
.benefit-teacher .equal-div p{
    color: darkslategray;
    text-align: left;
}

.khushbu-link{
    color: var(--colorthree);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.12rem;
    font-weight: 600;
}
.khushbu-link--linkedin{
    width: 24px;
    height: 24px;
    fill: var(--colortwo);
    transition: all .3s ease;
}
.khushbu-link:hover .khushbu-link--linkedin{
    transform: translateX(8px);
    fill: var(--colorthree);
}


.benefit-student{
    background: #FFF;
}
/* .benefits-wrapper{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.benefit-card{
    width: 240px;
    height: 240px;
    margin: 1rem 2rem;
    background: #FFF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1), -2px 0 10px rgba(0,0,0,0.1);
    border-radius: 16px;
} */

.benefit{
    position: relative;
    width: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.benefit-point{
    position: relative;
    margin-left: 1rem;
    font-size: 1.175rem;
    transition: all .3s ease;
}
.benefit:hover .benefit-point{
    transform: translateX(5px);
}

.index-animation{
    width: 500px;
    height: 500px;
}


@media (max-width: 768px) {

    .hero{
        height: 80vh;
        clip-path: unset;
    }
    .hero .container{
        height: 80vh !important;
    }
    .hero-left, .hero-right{
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    .hero-left{
        padding-top: 7rem;
        height: 70vh !important;
    }
    .people-img{
        transform: translateY(3rem);
    }
    .hero-left h3{
        font-size: 1rem;
    }
    .hero-left h1{
        font-size: 2.125rem;
    }

    .learning-family{
        padding: 1rem;
        height: 30vh !important;
        flex-direction: row;
    }
    .learning-family .index-animation{
        width: 160px;
    }
    .container-heading{
        font-size: 1.25rem;
        align-items: unset;
    }
    .index-explore-btn{
        padding: .5rem .75rem;
        font-size: .8rem;
    }

    .benefit-teacher{
        padding: 1rem;
    }
    .khushbu-img{
        width: 80vw;
        height: auto;
        margin-bottom: 2rem;
    }
    .benefit-teacher .equal-div{
        height: auto;
    }
    .benefit-teacher .equal-div h1{
        font-size: 2.2rem;
    }
    .khushbu-link{
        text-align: center;
        align-self: center;
    }


    .index-animation{
        width: 320px;
        height: 320px;
    }
}