
:root{
    --colorone: #0C043E;
    --colortwo: #6E7197;
    --colorthree: #224C82;
    --colorfour: #EEAB10;
    --light: #E7EDFA;
    --bgcolor: #0B192B;
    --bordercolor: #3A77C4;
}


main{
    background: var(--bgcolor);
}

.large{
    width: 45vw !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.small{
    width: 25vw;
}


.wrapper{
    position: relative;
    margin: 0 auto;
    width: 70% !important;
    height: auto;
}
.horizontal-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.vertical-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.align-start{
    align-items: flex-start;
    justify-content: flex-start;
}


.hero{
    position: relative;
    width: 100%;
    height: auto;
    padding: 15vh 0 5vh;
    background: var(--bgcolor);
    border-bottom-left-radius: 6rem;
}


.overview-wrapper{
    align-items: flex-start !important;
}

.hero-title{
    position: relative;
    font-size: 4vw;
    margin-bottom: 2vh;
    color: #FFF;
    font-family: 'Gilroy-Bold', sans-serif;
}
.hero-desc{
    position: relative;
    margin: 2vh 0;
    max-width: 70%;
    font-size: 1.2vw;
    color: var(--light);
    font-family: 'Gilroy-Medium', sans-serif;
}

.play{
    position: relative;
    margin-top: 5vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
}
.play-btn{
    position: relative;
    width: 5.6vw;
    height: auto;
    margin-right: 1vw;
}
.play p{
    font-size: 1.25vw;
    font-family: 'Gilroy-Medium';
    color: var(--light);
}

.qmark-img{
    position: relative;
    width: 30vw;
    height: auto;
}


.subscription-card-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10vh 10vw;
    background: #FFF;
    border-top-right-radius: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscription-card{
    position: relative;
    width: 24vw;
    height: 12vh;
    margin: 2vh 1vw;
    border-radius: 16px;
    border: 2px solid var(--bordercolor);
    color: var(--bordercolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}
.subscription-card h3{
    font-size: 1.25vw;
    font-family: 'Gilroy-Bold';
    text-transform: capitalize;
    text-align: center;
}

.subscription-card:hover{
    background: var(--colorfour);
}



#subscription-package-section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #3706657c;
    z-index: 100;
    backdrop-filter: blur(5px);
    display: none;
    place-content: center;
}
.subscriptions-container{
    position: relative;
    width: 80vw;
    height: auto;
    padding: 1rem;
    border-radius: 16px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    z-index: 300;
}
.subscriptions-container h3{
    text-align: center;
}
.subscriptions-package-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}


.subscriptions-wrapper-row{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.subscription-package{
    position: relative;
    width: 240px;
    height: 240px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;
    background: aqua;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all .3s ease;
}
.subscription-package:hover{
    background: var(--colorone);
    color: #FFF;
}
.subscription-package-title{
    position: relative;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: var(--colorone);
}
.subscription-package:hover .subscription-package-title{
    color: azure;
}
.subscription-package-info{
    position: relative;
    font-size: .9rem;
    align-self: flex-start;
}
.subscription-package-btn{
    position: absolute;
    bottom: 1rem;
    width: 90%;
    padding: .5rem;
    background: orangered;
    color: #FFF;
    border-radius: 36px;
    display: grid;
    place-content: center;
    text-transform: capitalize;
    transition: all .3s ease;
}
.subscription-package:hover .subscription-package-btn{
    background: var(--colortwo);
}


.close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #FFF;
    font-size: 2rem;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.close-btn h2{
    font-weight: 500;
}


@media (max-width: 768px) {

    body{
        background-position: center;
        background-attachment: fixed;
    }

    .title-small{
        font-size: 1.5rem;
    }
    
    .horizontal-wrapper, .vertical-wrapper, .courses-section-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .small, .large, .courses-wrapper{
        width: 100%;
    }
    #wrapper{
        padding: 1rem;
    }

    .subscription-card{
        width: 100%;
    }

    .subscriptions-container{
        width: 95vw;
    }
    .subscription-package{
        width: 100%;
        height: auto;
        padding: .5rem 1rem;
        margin: 1rem 0;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
    .subscription-package-title{
        margin-bottom: 0;
    }
    .subscription-package-info{
        margin-top: 1rem;
        display: none;
    }
    .subscription-package-btn{
        display: none;
    }
    .subscription-package:hover .subscription-package-info{
        display: unset;
    }
    .subscription-package:hover .subscription-package-btn{
        display: grid;
    }
    .subscription-package:hover{
        height: 240px;
    }
    
}